ROBINHOOD_API_KEY=rh-api-bf0c3142-ad4a-49c4-b687-f019d87f1c47
ROBINHOOD_PRIVATE_KEY=gESSk839EE/ALH92/KuTPI/AL2jD0dWguf/C35nAE8s=
ROBINHOOD_API_BASE_URL=https://trading.robinhood.com
TRADING_MODE=paper
